/* 100 ‧ Thin */
@font-face {
    font-family: "YoonGothicPro";
    src: url("./font/YoonGothic700/YoonGothicPro710.woff2") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* 200 ‧ ExtraLight */
@font-face {
    font-family: "YoonGothicPro";
    src: url("./font/YoonGothic700/YoonGothicPro720.woff2") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* 300 ‧ Light */
@font-face {
    font-family: "YoonGothicPro";
    src: url("./font/YoonGothic700/YoonGothicPro730.woff2") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* 400 ‧ Regular */
@font-face {
    font-family: "YoonGothicPro";
    src: url("./font/YoonGothic700/YoonGothicPro740.woff2") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* 500 ‧ Medium */
@font-face {
    font-family: "YoonGothicPro";
    src: url("./font/YoonGothic700/YoonGothicPro750.woff2") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* 600 ‧ SemiBold */
@font-face {
    font-family: "YoonGothicPro";
    src: url("./font/YoonGothic700/YoonGothicPro760.woff2") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* 700 ‧ Bold */
@font-face {
    font-family: "YoonGothicPro";
    src: url("./font/YoonGothic700/YoonGothicPro770.woff2") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* 800 ‧ ExtraBold */
@font-face {
    font-family: "YoonGothicPro";
    src: url("./font/YoonGothic700/YoonGothicPro780.woff2") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* 900 ‧ Black */
@font-face {
    font-family: "YoonGothicPro";
    src: url("./font/YoonGothic700/YoonGothicPro790.woff2") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "YoonGothicPro", 'Noto Sans KR', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.03em;

}

body {
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    overflow-x: hidden;
}

.blank{
    height: 200px;
}

.container {
    display: flex;
    min-height: 100vh;
}

 /* Sidebar */
 .sidebar {
    width: 280px;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #AEAEB2;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    z-index: 100;
    overflow: scroll;
    scrollbar-width: none;
}
  
  /* Chrome, Safari */
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

.logo img {
    width: 180px;
    height: auto;
}

.nav-menu {
    list-style: none;
    margin-bottom: 32px;
    padding-left: 12px;
    border-left: 3px solid #BFC0C1;

}

.nav-menu li {
    font-family: "YoonGothicPro", "Pretendard", sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 0px;
    color: #8E8E93;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.nav-menu a {
    text-decoration: none;
}

.nav-menu li:hover {
    color: #000000;
}

/* 활성 메뉴 아이템 스타일 - 분홍색으로 변경 */
.nav-menu li.active {
    color: #db3d88;
    /* 분홍색/마젠타 색상 */
    font-weight: 700;
    text-decoration: underline;
}

.nav-menu li.active::after{
    content: " ·";        
    font-weight: 700;     
  }
  

/* 좌측 분홍색 바 */
.nav-menu li.active::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #db3d88;
    /* 분홍색/마젠타 색상 */
}

.register-btn {
    width: 100%;
    padding: 12px;
    background-color: #0f2351;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.register-btn:hover {
    background-color: #141a32;
}

/* Main Content */
.main-content {
    margin-left: 280px;
    flex: 1;
    width: calc(100% - 240px);
}

.appbar {
    display: none;
}

.directions-btn {
    display: none;
    /* width: 100%; */
    padding: 12px;
    background-color: #0f2351;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 22px;
    width: 204px;
    margin-left: 41px;
}



.content {
    display: flex;
    flex-direction: row;
    gap: 81px;
    margin-left: 42px;
    margin-top: 75px;
    margin-right: 41px;
}

.summation {
    background-color: #F8F9FA;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    padding-left: 18px;

}

.text {
    margin-left: 42px;
    /* margin-top: 44px; */
    margin-right: 41px;
    margin-top: 71px;
}

.text h3 {
    font-size: 24px;
    font-weight: 700;
}

.text .detail {
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 36px;
}


.text table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    margin-bottom: 100px;
    margin-top: 33px;
    text-align: center;
}

.text table th {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #f2f2f2;
    border-collapse: collapse;
    border-top: 1px solid #ccc;
}

.text table td {
    border-collapse: collapse;
    border-top: 1px solid #ccc;
    padding-top: 14px;
    padding-bottom: 14px;
}

.text table th:nth-child(1),
.text table td:nth-child(1) {
    border-right: 1px solid #ccc;
}

.text table th:nth-child(2),
.text table td:nth-child(2) {
    border-right: 1px solid #ccc;
}

.title-bar {
    height: 117px;
    background-color: #141a32;
    color: #fff;
    padding: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 32px;
    font-weight: 800;
}

@media (max-width: 768px) {

    .blank-top {
        height: 111px;
    }

    .sidebar {
        display: none;
    }

    .main-content {
        flex: 1;
        width: 100vw !important;
        margin-left: 0;
    }


    .appbar {
        background-color: rgb(255, 255, 255);
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        height: 111px;
        width: 100%;


        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .logo {
        height: 100px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        padding-right: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
    }

    .menu-icon div {
        width: 30px;
        height: 5px;
        background-color: #0f0f2e;
        border-radius: 2px;
    }

    .sidebar {
        width: 279px;
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        /* width: 80%; */
        height: 100vh;
        background-color: white;
        transition: right 0.3s ease-in-out;
        z-index: 2001;
        padding: 0px;
    }

    .sidebar.active {
        right: 0;
    }

    .sidebar-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        z-index: 2000;
        opacity: 0;
        transition: background-color 0.3s ease, opacity 0.3s ease;
        pointer-events: none;
    }

    .sidebar-overlay.active {
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-menu {
        list-style: none;
        margin-bottom: 32px;
        padding-left: 54px;
        border-left: none;
        margin-top: 45px;
    }

    .nav-menu li.active::before {
        content: '';
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
        width: 3px;
        background-color: #fff;
        /* 분홍색/마젠타 색상 */
    }



    .sidebar img {
        width: 201px;
        margin: 0 auto;
        padding-top: 25px;
    }

    .sidebar .register-btn {
        width: 204px;
        margin-left: 41px;
    }

    .directions-btn {
        display: block;
    }

    .title-bar {
        height: 90px;
        font-size: 25px;
        padding-left: 20px;
    }

    .content {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 33px;
    }

    .summation {
        font-size: 15px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: keep-all;
    }

    .text {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 33px;
    }

    .text h3 {
        font-size: 18px;
    }

    .text .detail {
        font-size: 15px;
    }

    .text p{
        font-size: 15px;
    }

}